<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<body>
    <h1>Hello</h1>
    <div><a href = "/login">Log in as a student</a>
    <a href = "/register">Register as a student</a></div>
    <div><a href = "/orgLogin">Log in as an organization</a>
    <a href = "/orgRegister">Register as an organization</a></div>
    <a href = "/positions">See All Volunteer Positions</a>
    <a href = "/profiles">See All Organizations</a>
</body>