<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiles</title>
</head>
<body>
    <h1>Volunteer Positions:</h1>
    <% for(let position of positions) { %>
        <li> <a href = "/position/<%=position.user_id%>/<%=position.id%>"><%= position.positionName %> for <%= position.orgName %></a> </li>
    <% } %>
        <h2></h2>
        <a href = "/profiles">See All Organizations</a>
        <a href = "/home">Go to homepage</a>
</body>
</html>