<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href = "/css/bootstrap.min.css">
    <script src="/js/jquery.js"></script> 
    <script src="/js/bootstrap.min.js"></script> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <title>Voluntier</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style=" background-color: white;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home" style="font-size:25px; color: #4361ee; ">Voluntier</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav justify-content-center " style="padding-left: 260px;">
                    <li class="nav-item" >
                      <a class="nav-link" href="/positions">Organizations</a>
                    </li>
                    <li class="nav-item" style="padding-left: 50px;">
                      <a class="nav-link" href="#">FAQ</a>
                    </li>
                    <li class="nav-item" style="padding-left: 50px;">
                        <a href="#" class="nav-link">About Us</a>
                    </li>
                </ul>
            </div>
            <button  class="btn btn-primary justify-content-right " style="width:80px; height:37px;"><a class="login"href="/login"> Login </a></button>
        </div>
    </nav>
    <img class="rounded float-end img" src="voluntier_img.jpg" alt="">
    <h1 class="intro">Welcome to <span class="volunteer">Voluntier</span>.</h1>
    <h1 class="">Help society.</h1>
    <p>Help others with your skills, near you.</p>
    <p>
        <button class="btn btn-primary getstarted " style="width:120px; height:45px;"><a class="signup" href="/register">Get Started</a></button>
    </p>

    
</body>