.navbar-brand {
    color: #2878fa; 
    font-family: 'Asap', sans-serif;
}
  
  .volunteer {
    color: #2878fa; 
    
  }
  h1 {
    font-size:45px;
    padding-left:110px;
  
  
  }
  p {
    padding-left: 110px;
  
    color:Black;
    font-size: 20px;
  }
  .login {
    color:white;
    background-color:#2878fa;
  }
  .login:hover {
    color:white;
  }
  .signup {
    color:white;
    text-decoration:none;
  }
  .signup:hover {
    color:white;
  }
  
svg {
    color: grey;
}



