<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Add Your Organization</h1>
    <h4>Already registered? Click <a href = "/login">here</a> to log in</h4>
    <form action="/orgRegister" method="POST">
        <div>
            <label for= "username">Enter Username:</label>
            <input type = "text" name = "username" id = "username" minlength = "3" maxlength = "20" placeholder = "Username" required>
        </div>
        <div>
            <label for= "password">Enter Password:</label>
            <input type = "password" name = "password" id = "password" minlength = "4" placeholder = "Password" required>
        </div>
        <label for= "orgName">Name:</label>
        <input type = "text" name = "orgName" id = "orgName" placeholder = "Organization name" required>
        <label for = "townLocation">Town Location:</label>
        <input type = "text" name = "townLocation" id = "townlocation" placeholder = "Town Location" required>
        <label for = "zipCode">Zip Code:</label>
        <input type = "number" name = "zipCode" id = "zipCode" placeholder = "Zip Code" required>
        <label for = "taxID">Tax ID:</label>
        <input type = "number" name = "taxID" id = "taxID" placeholder = "Tax ID" required>
        <label for = "phoneNum">Phone number</label>
        <input type = "number" name = "phoneNum" id = "phoneNum" placeholder = "Phone number" required>
        <h2></h2>
        <label for = "interestTag1">Organization is about:</label>
        <% for(let category of categories2) { %>
            <input type = "checkbox" name = "<%= category %>" value = "<%= category %>"><%= category %></input>
        <% } %>
        <button>Sign Up</button>
    </form>
    <a href = "/home">Go to homepage</a>
</body>
</html> 
